h1,
p {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}
h1 {
    font-family: 'Petit Formal Script', cursive;
    text-decoration: underline;
    text-decoration-color: #FDEDF0;
    text-decoration-thickness: 5px;
    text-decoration-style: wavy;
    text-shadow: 2px 4px 4px lightgrey;
}

h3 {
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #FDEDF0;
    text-shadow: 2px 4px 4px lightgrey;
}

.banner {
    text-align: center;
    background-color: #FDEDF0;
    padding: 10px;
}
.banner a {
    margin: 0 30px;
    color: black;
    text-decoration: none;
}

.thumbnail {
    display: flex;
    justify-content: center;
    margin: 30px;
    max-width: 100%;
}

.column {
    flex: 50%;
    padding: 0 4px;
    max-width: 100%;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 500px;
  }

  .steps {
    margin: 40px;
    padding: 20px;
    border: 1px solid #BBDEE0;
    border-radius: 20px;
  }

  .contact-info {
    text-align: center;
    margin: 30px;
    padding: 20px;
    border: 1px solid #BBDEE0;
    border-radius: 20px;
  }

.contact-pic {
    display: flex;
    justify-content: center;
    margin: 30px;
    max-width: 100%;
}

.shiny-croissant {
    padding: 0 4px;
    width: 200px;
    line-height: 30px;
}
